/*flex*/
* {
    box-sizing: border-box;
    margin: 0;
    /*这两个都还是要指定的，否则会出现怪异的问题*/
    padding: 0;
}


body {
    margin: 0 auto;
    /*目前只有从这里限制博文宽度不至于过宽导致转行找不到下一行 focus区    for the large screens it's best to limit to maximum width*/
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    background-color: #fafafa;
}



img {
    max-width: 100%;
}

a {
    text-decoration: none;
    /*去掉下划线*/
    color: #5fbf5e;
    /*可以避免访问后link变色的问题*/
}

/********************************************************general css end*/

@media screen and (max-width: 720px) {
    body {
        padding: 0% 2%;
    }


    .mainContent {
        border-bottom: 1px solid #e0e0e0;
        font-size: 1.4em; //默认的在手机上太小
    }

}

@media screen and (min-width: 721px) {

    .mainContent {
        /*box-shadow: 0 4px 6px .2px #aaaaaa;*/
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
        background: #fff;
        padding: 4%;
        line-height: 200%;

    }

    .mainContent ol,
    .mainContent ul {
        display: block;
        margin: 0 1em;
        /*    list-style-type: decimal;*/
        /*    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;*/
    }
}

