<!-- If you use ---extends-- in a template, it must be the first template tag in that template. Template inheritance won’t work, otherwise. -->
{% extends "./base.html" %}
<!-- The static template tag generates the absolute URL of static files. -->
{% load static %}

{% block title %}全部文章{% endblock %}
{% block mainContent %}
    <ul class="postList">
    {% for post in postList %}
        <li><a class="postTitle" href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a></li>
    {% endfor %}
    </ol>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a page_number="1">首页</a>
                <a page_number="{{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            {% if page_obj.has_previous or page_obj.has_next %}
                <span class="current">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
            {% endif %}
            {% if page_obj.has_next %}
                <a page_number="{{ page_obj.next_page_number }}">下一页</a>
                <a page_number="{{ page_obj.paginator.num_pages }}">尾页</a>
            {% endif %}
        </span>
        <script type="text/javascript">
        // 因为有这种形式http://127.0.0.1:8000/和 http://127.0.0.1:8000/category/?category=ct ，所以不能直接拼接，所以只能通过这种方式设定
        document.querySelectorAll('.pagination a').forEach(link => {
            let page_number = link.getAttribute('page_number');
            const gotopageUrl = new URL(location.href);
            gotopageUrl.searchParams.set("page", page_number);
            link.href = gotopageUrl.href;
        });
        </script>
    </div>
{% endblock %}
